* {
    padding: 0;
    margin: 0;
}

* {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

section {
    border-left: 20px solid grey;
    border-right: 20px solid grey;
}

.header1 {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.headerlogo {
    height: 150px;
    align-content: center;
    width: 60%;
}

.headerlogo img {
    width: 100%;
    height: 150px;
}

.headercontact {
    height: 150px;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
}

.headercontact h2 {
    color: #7f0f0e;
    letter-spacing: 2px;
}

hr {
    height: 3px;
    background-color: rgb(66, 66, 66);
    width: 100%;
}

.headercontact h3 {
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 2px;
}

.headercontact p {
    font-size: 19px;
    letter-spacing: 2px;
}

.menubar {
    height: 60px;
    background-color: #7f0f0e;
    align-content: center;
    padding-right: 20px;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    height: 100%;

}

.menubar a {
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    height: 100%;
    align-content: center;
    align-items: center;
}

li {
    color: white;
    list-style: none;
    display: flex;
}
li:hover{
    background-color: grey;
}
.toggle{
    display: flex;
    justify-content: end;
    align-items: center;
}
.toggle img{
    height: 40px;
}
.home {
    background-color: grey;
    padding-right: 10px;
    padding-left: 10px;
}

.main2 {
    width: 100%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    gap: 20px;
}

.main2-1 {
    width: 55%;
    height: 450px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.main2-1 img {
    width: 100%;
    height: 100%;
}

.main2-2 {
    width: 45%;
    height: 450px;
    background: url(Images/form_bg.jpg) no-repeat center/cover;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.main2-2q {
    width: 100%;
    height: 80px;
    display: flex;
}

.main2-2q1 {
    width: 40%;
    height: 50px;
    background-color: #d9352a;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main2-2q1 h2 {
    color: white;
    font-size: 30px;
}

.main2-2q2 {
    width: 65%;
    height: 100%;
    align-content: center;
    padding-left: 25px;
}

.main2-2q2 h3 {
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
}

.main2-2q2 span {
    color: rgb(0, 0, 138);
    font-size: 42px;
    font-weight: 800;
}

.main2-2-1 {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 25px;
}

.main2-2-1p p {
    font-size: 22px;
    color: rgb(35, 35, 35);
}

.main2-2-1p span {
    font-size: 21px;
    font-weight: 700;
    color: black;
}

.main2-2-2 {
    width: 100%;
    display: flex;
}

.form {
    width: 50%;
}

label {
    font-weight: bold;
}

input {
    height: 25px;
    width: 75%;
}

.form1 {
    margin-top: 10px;
    display: flex;
    justify-items: end;
    justify-content: end;
    gap: 5px;
}

.stamp {
    width: 50%;
    align-content: center;
    margin-top: 10px;
    padding-left: 10px;
}

.stamp img {
    width: 80%;
    transform: rotate(10deg);
}

.textbox {
    width: 100%;
    margin-top: 20px;
}

textarea {
    width: 92%;
    padding: 5px;
    height: 70px;
    font-size: 18px;
    font-weight: bold;
}

.main2-2-3 {
    width: 100%;
    display: flex;
}

.lasttext {
    width: 35%;
    align-content: center;
}

.lasttext p {
    font-size: 16px;
    font-weight: 100;
    color: grey;
}

.lastbtn {
    width: 57%;
}

.lastbtn button {
    width: 100%;
    padding: 15px 40px;
    background-color: #d9352a;
    color: white;
    font-size: 18px;
    font-weight: bold;

}

.main3{
    width: 100%;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
}
.main3-1{
    width: 30%;
    
}
.main3-1q h2{
    color: rgb(74, 74, 74);
    font-size: 28px;
    letter-spacing: 1px;
}
.main3-1q span{
    color: rgb(218, 17, 17);
}
.main3-1q h3{
    color: rgb(218, 17, 17);
    letter-spacing: 1px;
    margin-top: 5px;
}
.main3-1-1{
    display: flex;
    width: 100%;
    
}
.main3-1p p{
    font-size: 19px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.main3-1pic img{
    margin-left: 20px;
    height: 120px;
}
.main3-1btn{
    margin-top: 10px;
}
.main3-1btn button {
    margin-left: 45%;
    font-size: 16px;
    padding: 8px 15px;
    background-color:#bb0406 ;
    color: white;
    margin-top: -1px;
    box-shadow: 2px 2px 10px  black;
}
.main3-1btn hr{
    width: 55%;
    margin-left: 35%;
    height: 2px;
}
.main3-2{
    width: 40%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
   
}
.main3-2-1{
    width: 100%;
    display: flex;
    margin-top: 0px;
    justify-content: center;
}
.MAIN3-2HP{
    width: 65%;
}
.main3-2hp h2{
color: rgb(71, 71, 71);
    font-size: 28px;
    
}
.main3-2hp span{
    color: rgb(218, 17, 17);
}
.main3-2hp P{
    font-size: 19px;
   
    margin-top: 0px;
}
.main3-2btn{
    width: 100%;
    margin-top: 10PX;
}
.main3-2btn button {
    margin-left: 25%;
    font-size: 13px;
    padding: 8px 15px;
    background-color:#bb0406 ;
    color: white;
    margin-top: -1px;
    box-shadow: 2px 2px 10px  black;
}
.main3-2btn hr{
    margin-left: 10PX;
    height: 2px;
}
.main3-2img{
    width: 35%;
    align-content: center;
    align-items: center;
    margin-left: 10px;
}

.main3-2-2{
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: center;
    border-top: 1px solid grey;
}
.main3-2btn2{
    width: 100%;
    margin-top: 10PX;
}
.main3-2btn2 button {
    margin-left: 35%;
    font-size: 13px;
    padding: 8px 15px;
    background-color:#bb0406 ;
    color: white;
    margin-top: -1px;
    box-shadow: 2px 2px 10px  black;
}
.main3-3{
    width: 30%;
}
.main3-3img{
    width: 100%;
    display: flex;
    gap:30px ;
    padding-left: 30px;
}
.main3-3hp h2{

}
.main3-3hp h2{
    color: rgb(74, 74, 74);
    font-size: 28px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.main3-3hp span{
    color: rgb(218, 17, 17);
}
.main3-3hp p{
    font-size: 19px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.main3-3btn {
    width: 100%;
    margin-top: 10px;
}
.main3-3btn hr{
    width: 55%;
    margin-left: 35%;
    height: 2px;
}
.main3-3btn button {
    margin-left: 45%;
    font-size: 16px;
    padding: 8px 15px;
    background-color:#bb0406 ;
    color: white;
    margin-top: -1px;
    box-shadow: 2px 2px 10px  black;
}
.hrshadow{
    width: 100%;
}
.hrshadow img{
    width: 100%;
}
.main4{
    width: 100%;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    padding-bottom: 100px;
    border-bottom: 20px solid rgb(149, 0, 0);
    gap: 5px;
}
.main4-1{
    width: 25%;
}
.main4-1h h2{
    color: rgb(69, 69, 69);
    margin-bottom: 20px;
}
.main4-1h span{
    color: #c20d09;
}
.contain4shadow{
    display: flex;
}
.contain4{
    margin-left: 10px;
}
.shadow4{
    width: 7px;
}
.contain4in{
    width: 90%;
    background-color: grey;
    height: 80px;
}
.hrshadow {
    width: 80%;
    margin-top: -3px;
}
.contain4h{
    height: 40px;
    width: 100%;
    color: white;
    margin-left: 10px;
    padding-top: 10px;
}
.contain4p{
    height: 40px;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: end;
    align-items: end;
}
.contain4p p{
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.contain4p img{
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main4-1h2{
    margin-top: 20px;
}
.main4-1h2 span{
    color: #7f0f0e;
}
.main4-1h2 h2{
    color: rgb(77, 77, 77);
}
.main4-1menu{
    width: 50%;
    justify-content: end;
    display: flex;
    margin-top: 80px;
}
.main4-1menu span{
    color: rgb(183, 183, 183);
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
}
.main4-2{
    width: 55%;
}
.main4-2h h1{
    color: rgb(70, 70, 70);
}
.main4-2p{
    margin-top: 10px;
}
.main4-2p p{
    color: rgb(136, 136, 136);
    line-height: 30px;
}
.main4-3{
    width: 20%;
    justify-items: center;
}
.main4-3-1{
    width: 100%;
    margin-bottom: 40px;
}
.main4-3-1 h2{
    color: rgb(76, 76, 76);
    font-size: 27px;
    letter-spacing: 1px;
}
.main4-3-1 span{
    color: #7f0f0e;
    
}
.main4-3-1 p{
    color: grey;
    font-size: 19px;
    letter-spacing: 1px;
    margin-top: 5px;
}
.main4-3-1 hr{
    background-color: rgb(75, 75, 75);
    height: 3px;
    margin-top: 5px;
}


.main4-3-1 button{
    background-color: #c20d09;
    margin-left: 30%;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: -1px;
    box-shadow: 2px 2px 10px black;
}
.main4-3imgup{
    justify-items: center;
}
.main4-3img{
    margin-bottom: 25px;
}
.main4-3last{
    width: 100%;
    justify-items: center;
}
.main4-3last h2{
    color: rgb(83, 83, 83);
}
.main4-3last span{
    color: #7f0f0e;
}
.main4-3last hr{
    height: 3px;
}
.main4-3last img{
width: 100%;
height: 20px;
margin-top: -1px;
}
.main4-3icon{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.main4-3icon img{
    height: 40px;
    width: 40px;
}